[submodule "src/org"]
	path = src/org
	url = git://repo.or.cz/org-mode.git
[submodule "src/magit"]
	path = src/magit
	url = git://gitorious.org/magit/mainline.git
[submodule "snippets/text-mode/org-mode"]
	path = snippets/text-mode/org-mode
	url = git://github.com/eschulte/yasnippet-org-mode.git
[submodule "src/auctex"]
	path = src/auctex
	url = git://github.com/eschulte/auctex.git
[submodule "src/anything"]
	path = src/anything
	url = https://github.com/emacsmirror/anything.git
[submodule "src/jabber"]
	path = src/jabber
	url = git://emacs-jabber.git.sourceforge.net/gitroot/emacs-jabber/emacs-jabber
[submodule "src/html5-el"]
	path = src/html5-el
	url = https://github.com/hober/html5-el.git
[submodule "src/gnus"]
	path = src/gnus
	url = http://git.gnus.org/gnus.git

[submodule "src/pymacs"]
	path = src/pymacs
	url = https://github.com/pinard/Pymacs.git
[submodule "src/auto-complete"]
	path = src/auto-complete
	url = https://github.com/emacsmirror/auto-complete.git
