[submodule "src/org"]
	path = src/org
	url = git://orgmode.org/org-mode.git
[submodule "src/magit"]
	path = src/magit
	url = git://gitorious.org/magit/mainline.git
[submodule "snippets/text-mode/org-mode"]
	path = snippets/text-mode/org-mode
	url = git://github.com/eschulte/yasnippet-org-mode.git
[submodule "src/auctex"]
	path = src/auctex
	url = git://github.com/eschulte/auctex.git
[submodule "src/anything"]
	path = src/anything
	url = git://github.com/emacs-helm/helm.git
[submodule "src/jabber"]
	path = src/jabber
	url = git://emacs-jabber.git.sourceforge.net/gitroot/emacs-jabber/emacs-jabber
[submodule "src/html5-el"]
	path = src/html5-el
	url = https://github.com/hober/html5-el.git
[submodule "src/gnus"]
	path = src/gnus
	url = http://git.gnus.org/gnus.git

[submodule "src/pymacs"]
	path = src/pymacs
	url = https://github.com/pinard/Pymacs.git
[submodule "src/undo-tree"]
	path = src/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "src/naquadah-theme"]
	path = src/naquadah-theme
	url = git://git.naquadah.org/naquadah-theme.git
[submodule "src/emacs24-solarized"]
	path = src/emacs24-solarized
	url = https://github.com/cycojesus/emacs24-solarized.git
[submodule "src/ace-jump-mode"]
	path = src/ace-jump-mode
	url = git://github.com/winterTTr/ace-jump-mode.git
